      <div class="login-panel">
        <div class="login-heading">
          <div class="login-title">Login</div>
          <div class="exit-modal" id="exit-modal"><i class="fa fa-times"></i></div>
        </div>

        <form action="" method="post">
          {% csrf_token %}
          <input type="text" name="email" placeholder="Email" autofocus>
          <input type="password" name="password" placeholder="Password">
          <input type="submit" class="button-md button-blue" name="login" value="Login">
        </form>
      </div>